.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.tabButton {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #0c2244);
  background-image: -moz-linear-gradient(top, #000000, #0c2244);
  background-image: -ms-linear-gradient(top, #000000, #0c2244);
  background-image: -o-linear-gradient(top, #000000, #0c2244);
  background-image: linear-gradient(to bottom, #000000, #0c2244);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #26333b 2px;
  text-decoration: none;
}

.tabButton:hover {
  background: #1453b3;
  background-image: -webkit-linear-gradient(top, #08367a, #000000);
  background-image: -moz-linear-gradient(top, #08367a, #000000);
  background-image: -ms-linear-gradient(top, #08367a, #000000);
  background-image: -o-linear-gradient(top, #08367a, #000000);
  background-image: linear-gradient(to bottom, #08367a, #000000);
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  font-weight: bold;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  font-size:calc(3px + 2vmin);
  margin-left: auto;
  margin-right: auto;
  background-color: #282c34;
  min-height: 100vb;
  color: white;
}

.generalTable {
  font-size: 3vmin;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

table.generalTable {
  align-items: center;
}
table.generalTable td, table.generalTable th {
  border: 2px solid #494949;
  padding: 3px 20px;
}
table.generalTable tbody td {
  font-size: 21px ;
  color: #FFFFFF;
}
table.generalTable tr:nth-child(even) {
  background: #283234;
}
table.generalTable thead {
  background: #2A2834;
}
table.generalTable thead th {
  font-size: 3vmin;
  font-weight: bold;
  color: #FFFFFF;
  align-items: center;
}

